!**/[Pp]ackages/build/
!*.svg
!.axoCover/settings.json
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!?*.[Cc]ache/
!Directory.Build.rsp
$RECYCLE.BIN/
$tf/
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/[Pp]ackages/*
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
*- [Bb]ackup.rdl
*.7z
*.a
*.app
*.appx
*.appxbundle
*.appxupload
*.aps
*.azurePubxml
*.bak
*.bim.layout
*.bim_*.settings
*.binlog
*.btm.cs
*.btp.cs
*.build.csdef
*.bz2
*.bzip
*.bzip2
*.cab
*.cachefile
*.cmd
*.code-workspace
*.coverage
*.coveragexml
*.d
*.dbmdl
*.dbproj.schemaview
*.deb
*.dll
*.dmg
*.dotCover
*.DotSettings.user
*.dsp
*.dsw
*.dSYM/
*.dylib
*.e2e
*.egg
*.elc
*.elf
*.exe
*.exp
*.gch
*.gem
*.GhostDoc.xml
*.gpState
*.gz
*.gzip
*.hex
*.i*86
*.idb
*.ilk
*.iml
*.iobj
*.ipdb
*.ipr
*.iso
*.iws
*.jar
*.jfm
*.jmconfig
*.ko
*.la
*.lai
*.launch
*.ldf
*.lib
*.lnk
*.lo
*.log
*.lzma
*.map
*.mdf
*.meta
*.mm.*
*.mod
*.mod*
*.msi
*.msix
*.msm
*.msp
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.nvuser
*.o
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.out
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.pyc
*.pydevproject
*.rar
*.rdl.data
*.rel
*.rpm
*.rptproj.bak
*.rptproj.rsuser
*.rsp
*.rsuser
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.sln.iml
*.slo
*.smod
*.snk
*.snupkg
*.so
*.so.*
*.stackdump
*.su
*.suo
*.svclog
*.swp
*.tar
*.tgz
*.tlb
*.tlh
*.tli
*.tlog
*.tmp
*.tmp_proj
*.tss
*.txz
*.tzst
*.user
*.userosscache
*.userprefs
*.vbp
*.vbw
*.VC.db
*.VC.VC.opendb
*.VisualState.xml
*.vsix
*.vsp
*.vspscc
*.vspx
*.vssscc
*.x86_64
*.xar
*.xpi
*.xsd.cs
*.xz
*.zip
*.zst
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*_archive
*_flymake.*
*_h.h
*_i.c
*_p.c
*_wpftmp.csproj
*~
*~.nib
.*crunch*.local.xml
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.apt_generated/
.apt_generated_test/
.autotools
.axoCover/*
.buildpath
.builds
.cache-main
.cask/
.com.apple.timemachine.donotpresent
.cproject
.cr/personal
.dir-locals.el
.directory
.DocumentRevisions-V100
.DS_Store
.externalToolBuilders/
.factorypath
.fake/
.fseventsd
.fuse_hidden*
.history/
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/*.iml
.idea/artifacts
.idea/caches/build_file_checksums.ser
.idea/compiler.xml
.idea/httpRequests
.idea/jarRepositories.xml
.idea/modules
.idea/modules.xml
.idea/replstate.xml
.idea/sonarlint/
.idea_modules/
.ionide/
.jekyll-cache/
.jekyll-metadata
.loadpath
.localhistory/
.LSOverride
.metadata
.mfractor/
.netrwhist
.nfs*
.ntvs_analysis.dat
.org-id-locations
.paket/paket.exe
.project
.projectile
.recommenders
.recommenders/
.sass-cache/
.scala_dependencies
.settings/
.Spotlight-V100
.springBeans
.target
.TemporaryItems
.tern-project
.texlipse
.tmp_versions/
.Trash-*
.Trashes
.VolumeIcon.icns
.vs/
.vscode/*
.vshistory/
.worksheet
.zig-cache/
.\#*
._*
/.emacs.desktop
/.emacs.desktop.lock
/auto/
/elpa/
/eshell/history
/eshell/lastdir
/network-security.data
/vendor
AppPackages/
artifacts/
ASALocalRun/
atlassian-ide-plugin.xml
auto-save-list
AutoTest.Net/
Backup*/
BenchmarkDotNet.Artifacts/
bin/
bld/
bower_components/
BundleArtifacts/
ClientBin/
cmake-build-*/
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
CMakeUserPresets.json
cmake_install.cmake
compile_commands.json
com_crashlytics_export_strings.xml
coverage*.info
coverage*.json
coverage*.xml
crashlytics-build.properties
crashlytics.properties
csx/
CTestTestfile.cmake
dist/
dkms.conf
dlldata.c
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
ecf/
ehthumbs.db
ehthumbs_vista.db
fabric.properties
FakesAssemblies/
flycheck_*.el
FodyWeavers.xsd
Gemfile.lock
Generated\ Files/
Generated_Code/
healthchecksdb
Icon
install_manifest.txt
ipch/
local.properties
Makefile
MigrationBackup/
Mkfile.old
Module.symvers
modules.order
mono_crash.*
nCrunchTemp_*
Network Trash Folder
node_modules/
nunit-*.xml
OpenCover/
orleans.codegen.cs
out/
Package.StoreAssociation.xml
paket-files/
project.fragment.lock.json
project.lock.json
publish/
PublishScripts/
rcf/
ScaffoldingReadMe.txt
ServiceFabricBackup/
Session.vim
Sessionx.vim
StyleCopReport.xml
tags
Temporary Items
Testing
TestResult.xml
Thumbs.db
Thumbs.db:encryptable
tmp/
tramp
UpgradeLog*.htm
UpgradeLog*.XML
wwwroot/
x64/
x86/
xcuserdata/
zig-cache/
zig-out/
[._]*.sw[a-p]
[._]*.s[a-v][a-z]
[._]*.un~
[._]ss[a-gi-z]
[._]sw[a-p]
[._]s[a-rt-v][a-z]
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Dd]esktop.ini
[Ee]xpress/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Tt]est[Rr]esult*/
[Ww][Ii][Nn]32/
\#*\#
_Chutzpah*
_deps
_NCrunch_*
_pkginfo.txt
_Pvt_Extensions
_ReSharper*/
_site/
_TeamCity*
_UpgradeReport_Files/
__pycache__/
~$*